{% extends "layout.html" %}

{% block title %}Drylab{% endblock %}

{% block styles %}
<style>
    .carousel {
        background-color: #f0f0f0;
    }

</style>
{% endblock %}

{% block page_content %}
<div class="page-padding"></div>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000" style="background-color: black; margin-top: 20px">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="static/assets/p02.jpg" class="d-block mx-auto img-fluid" style="max-height: 500px; border-radius: 2%;" alt="Image 1">
        </div>
        <div class="carousel-item">
            <img src="static/assets/p03.jpg" class="d-block mx-auto img-fluid" style="max-height: 500px; border-radius: 2%;" alt="Image 2">
        </div>
        <div class="carousel-item">
            <img src="static/assets/p04.jpg" class="d-block mx-auto img-fluid" style="max-height: 500px; border-radius: 2%;" alt="Image 3">
        </div>
        <div class="carousel-item">
            <img src="static/assets/p05.jpg" class="d-block mx-auto img-fluid" style="max-height: 500px; border-radius: 2%;" alt="Image 3">
        </div>
        <div class="carousel-item">
            <img src="static/assets/p06.jpg" class="d-block mx-auto img-fluid" style="max-height: 500px; border-radius: 2%;" alt="Image 3">
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{% endblock %}
