{% extends "layout.html" %}

{% block page_content %}

<figure>
    <blockquote class="blockquote" style="text-align: right;">
        <p>A well-known quote, contained in a blockquote element.</p>
    </blockquote>
    <figcaption class="blockquote-footer" style="text-align: right;">
        Someone famous in <cite title="Source Title">Source Title</cite>
    </figcaption>
</figure>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Mauris pharetra et ultrices neque ornare aenean euismod elementum nisi. Posuere
                lorem ipsum dolor sit amet consectetur. Enim nulla aliquet porttitor lacus luctus accumsan tortor.
            </p>
            <br>
            <img src="static/assets/m01.png" width="250px" height="250px" href="wiki/pages/home.html">
        </div>
        <div class="col-3">
            <p>This is a list: <br></p>
            <p>it appears to not be styled hahaha~Sed enim ut sem viverra aliquet eget sit. Enim lobortis scelerisque
                fermentum dui faucibus in ornare quam. Blandit massa enim nec dui nunc mattis: </p>
            <ul style="list-style-type:circle;">
                <li>I wanna die</li>
                <li>I still wanna die</li>
                <li>in the end, I died.</li>
            </ul>
            <p>claire R.I.P on 6/8. We Cry. We mourn. We all die.</p>
        </div>
        <div class="col-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First</th>
                        <th>Last</th>
                        <th>Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Larry the Bird</td>
                        <td></td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th>6</th>
                        <td>Larry the Bird</td>
                        <td></td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th>7</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th>8</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th>9</th>
                        <td>Larry the Bird</td>
                        <td></td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <p>In eu mi bibendum neque egestas congue quisque. Aenean et tortor at risus viverra adipiscing at in
                tellus. Sem fringilla ut morbi tincidunt augue interdum. Enim nulla aliquet porttitor lacus luctus.
                Tellus orci ac auctor augue mauris. Id porta nibh venenatis cras. Risus viverra adipiscing at in tellus
                integer feugiat scelerisque. Ligula ullamcorper malesuada proin libero nunc consequat.<br> Aliquam id
                diam maecenas ultricies mi eget mauris pharetra. Viverra suspendisse potenti nullam ac tortor vitae
                purus. Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Enim sit amet venenatis urna
                cursus. Felis eget nunc lobortis mattis aliquam faucibus purus in. Blandit cursus risus at ultrices mi.
                Lorem ipsum dolor sit amet consectetur adipiscing elit. Eu ultrices vitae auctor eu augue. Morbi
                tristique senectus et netus et malesuada. Ac placerat vestibulum lectus mauris ultrices eros in. Mauris
                sit amet massa vitae tortor condimentum lacinia.<br></p>
            <p>Tempor orci dapibus ultrices in iaculis nunc sed augue. Varius vel pharetra vel turpis nunc eget lorem.
                Est ante in nibh mauris cursus mattis molestie a. </p>
        </div>
        <div class="col-6">
            <img src="static/assets/m02.png" width="600px" height="430px">
        </div>
    </div>
</div>

{% endblock %}