<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename = 'css/bootstrap.css') }}" rel="stylesheet">
    <!--<link href="{{ url_for('static', filename = 'bootstrap.css') }}" rel="stylesheet">-->

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">
    

    <script type="module" src="{{ url_for('static', filename = 'setting.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename = 'fetchContent.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename = 'jumpTo.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'vanilla-tilt.js') }}"></script>

    <title>{% block title %}{% endblock %} | GEMS-Taiwan - iGEM 2023</title>

</head>

<body>
    <!-- Navigation -->

    {% include 'menu.html' %}


    <!-- Header -->


    <!-- Page Content -->

    {% block page_content %}{% endblock %}



    <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
    {% include 'footer.html' %}

    <!-- Bootstrap Bundle with Popper -->
    <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename = 'katex.js') }}"></script>
    <script defer src="{{ url_for('static', filename = 'mhchem.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename = 'auto-render.min.js') }}"></script>

</body>

</html>