<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .navbar-custom {
            background-color: #007bff;
        }

        .navbar-custom .navbar-brand,
        .navbar-custom .nav-link,
        .navbar-custom .navbar-toggler-icon {
            color: white !important;
        }

        .navbar-custom .nav-link {
            color: white !important;
        }

        .navbar-custom .dropdown-menu {
            background-color: #007bff;
        }

        .navbar-custom .dropdown-item {
            color: white !important;
        }

        .navbar-custom .dropdown-item:hover {
            background-color: #0056b3;
            color: white !important;
        }
        .navbar-custom span{
            color: white !important;
            
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <img src="static/assets/gem.png" alt="gems" width="40" height="40" class="align-text-bottom">
        <span>Gems</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Project
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" href="#">Description</a>
                        <a class="dropdown-item" href="#">Contribution</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Safety</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Wetlab
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" href="#">Experiments</a>
                        <a class="dropdown-item" href="#">Engineering</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Proof of Concept</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown3" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        DryLab
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <a class="dropdown-item"  href="{{ url_for('pages', page='drylab') }}">Drylab</a>
                        <a class="dropdown-item" href="#">Model</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Hardware</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Human practice
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                        <a class="dropdown-item" href="#">Education</a>
                        <a class="dropdown-item" href="#">Entrepreneurship</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">HP</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Software
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown5">
                        <a class="dropdown-item" href="#">Timeline</a>
                        <a class="dropdown-item" href="#">Planning</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Collaboration</a>
                    </div>
            </ul>
        </div>
    </nav>
</body>

</html>